@font-face {
    font-family: "Rubik Bold";
    src: url("../fonts/Rubik-Bold.ttf");
}

@font-face {
    font-family: "Rubik Medium";
    src: url("../fonts/Rubik-Medium.ttf");
}

@font-face {
    font-family: "Rubik Regular";
    src: url("../fonts/Rubik-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Regular";
}

.conteiner {
    text-align: center;
    min-width: 1366px;
    margin: 0 auto;
}

.button {
    color: #FFFFFF;
    font-size: 16px;
    background-color: #12569B;
    border-radius: 50px;
    border: transparent;
}

.button:hover {
    cursor: pointer;
    background-color: #12569B;
    opacity: 0.8;
}
.button:active{
    cursor: pointer;
    background-color: #12569B;
    opacity: 0.7;
}

.button__header {
    width: 203px;
    height: 52px;
}

.header {
    height: 560px;
    display: flex;
    background-color: #E3E6ED;
    padding: 0 104px;
    margin: 0 auto;
}

.header__conteiner {
    position: relative;
    display: flex;
    width: 970px;
    margin: 0 auto;

}

.header__content {
    width: 430px;
    margin-top: 40px;
    text-align: left;
}

.header__icon {
    display: block;
    /* width: 104px; */
    margin-bottom: 105px;
}

.header__content h1{
    font-family: "Rubik Bold" ;
    width: 325px;
    font-weight: 700;
    font-size: 72px;
    line-height: 94%;
    align-items: center;
    letter-spacing: 0.19em;
    margin-bottom: 40px;
}

.header__back {
    position: absolute;
    right: 0;
    height: 460px;
}

.header__dron {
    position: absolute;
    right: 0;
    top: 129px;
    height: 301px;
    margin-right: 40px;
}

.main {
    position: relative;
    height: 580px;
    padding: 80px 104px 0 104px;
    margin: 0 auto;
}

.main h2{
    font-family: 'Rubik medium';
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 18px;
    color: #212033;
}

.main p{
    display: block;
    width: 693px;
    
    font-family: 'Rubik regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 60px auto;
    color: #212033;
}

.main__images{
    display: flex;
    justify-content: center;
}

.main__images img{
    width: 327px;
    height: 192px;
    border-radius: 10px;
}

.main__images img:nth-child(2){
    margin: 0 20px;
}

