@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;

    position: relative;
    width: 760px;
    height: 2990px;

    margin-left: auto;
    margin-right: auto;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    list-style-type: none;
}

header {
    position: absolute;
    width: 760px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #A9BFE4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#logo {
    position: absolute;
    width: 136.48px;
    height: 55px;
    left: 64px;
    top: 8px;
}

.page-navigation {
    position: absolute;
    width: 451px;
    height: 20px;
    left: 258px;
    top: 25px;

}

.page-navigation ul{
    
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.page-navigation li {
    flex-grow: 1;
    text-align: center;
    list-style: none;
}

.page-navigation li:hover a{
    text-decoration: underline 1px solid #FFFFFF;
}

.page-navigation a{

    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;   
}

.section-1 {

    position: absolute;
    width: 760px;
    height: 455px;
    left: 0px;
    top: 70px;
    

    border-width: 35px 0px;
    border-style: solid;
    border-color: #FFFFFF;
}

.section-1 h1 {

    position: absolute;
    width: 300px;
    height: 64px;
    left: 63px;
    top: 128px;
    

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

    color: #351F21;
}

.section-1 p{

    position: absolute;
    width: 303px;
    height: 63px;
    left: 63px;
    top: 202px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #351F21;
}

.section-1 figure img{

    position: absolute;
    width: 360px;
    /* height: 350px; */
    left: 400px;
    /* top: 70px; */
}

.navNavigation div p{
    margin: auto;
    border:1px solid black;

}

.navNavigation div:first-child img{
    position: absolute;
    width: 210px;
    height: 145px;
    left: 65px;
    top: 0px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
}

.navNavigation div:first-child div{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 105px;
    top: 108px;
    
    background: #A9BFE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navNavigation div:first-child p{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 105px;
    top: 108px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.navNavigation div:nth-child(2) img{
    position: absolute;
    width: 210px;
    height: 145px;
    left: 275px;
    top: 0px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
}

.navNavigation div:nth-child(2) div{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 315px;
    top: 108px;
    
    background: #A9BFE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navNavigation div:nth-child(2) p{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 315px;
    top: 108px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.navNavigation div:nth-child(3) img{
    position: absolute;
    width: 210px;
    height: 145px;
    left: 485px;
    top: 0px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
}

.navNavigation div:nth-child(3) p{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 525px;
    top: 108px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.navNavigation div:nth-child(3) div{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 525px;
    top: 108px;
    
    background: #A9BFE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about {
    position: absolute;
    width: 760px;
    height: 405px;
    left: 0px;
    top: 525px;
}

.about .aboutBackgroundFirst{
    position: absolute;
    width: 291.27px;
    height: 229px;
    left: 470px;
    top: 176px;
    background-image: url(../images/abstract_background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.about .aboutBackgroundSecond{
    position: absolute;
    width: 292px;
    height: 181px;
    left: 408px;
    top: 224px;
    background-image: url(../images/women.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.about h2 {
    position: absolute;
    width: 139px;
    height: 28px;
    left: 65px;
    top: 191px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #351F21;
}

.about h2+p{
    position: absolute;
    width: 324px;
    height: 53px;
    left: 65px;
    top: 237px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #351F21;
}

.about h2+p+p{
    position: absolute;
    width: 318px;
    height: 57px;
    left: 65px;
    top: 301px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
    color: #351F21;
}

