@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;

    position: relative;
    width: 760px;
    height: 2990px;

    margin-left: auto;
    margin-right: auto;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    list-style-type: none;
}

header {
    position: absolute;
    width: 760px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #A9BFE4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#logo {
    position: absolute;
    width: 136.48px;
    height: 55px;
    left: 64px;
    top: 8px;
}

.page-navigation {
    position: absolute;
    width: 451px;
    height: 20px;
    left: 258px;
    top: 25px;

}

.page-navigation ul, .aboutNavigation ul{
    
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.page-navigation li, .aboutNavigation li{
    flex-grow: 1;
    text-align: center;
    list-style: none;
}

.page-navigation a:hover{
    text-decoration: underline 1px solid #FFFFFF;
}

.page-navigation a{

    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;   
}

.section__main {

    position: absolute;
    width: 760px;
    height: 455px;
    left: 0px;
    top: 70px;
    

    border-width: 35px 0px;
    border-style: solid;
    border-color: #FFFFFF;
}

.section__main h1 {

    position: absolute;
    width: 300px;
    height: 64px;
    left: 63px;
    top: 128px;
    

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

    color: #351F21;
}

.section__main p{

    position: absolute;
    width: 303px;
    height: 63px;
    left: 63px;
    top: 202px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #351F21;
}

.main__background img{

    position: absolute;
    width: 360px;
    /* height: 350px; */
    left: 400px;
    /* top: 70px; */
}

.about {
    position: absolute;
    width: 760px;
    height: 405px;
    left: 0px;
    top: 525px;
}

.aboutNavigation div{
    position:absolute;
    /* border: 1px solid black; */
}

.aboutNavigation p{
    margin: auto;
    /* border:1px solid black; */
}

.aboutNavigation a{
    text-decoration: none;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.aboutNavigation{
    position: absolute;
    width: 760px;
    height: 145px;
    left: 0;

}

/* .aboutNavigation ul li:hover{
    
    width: 140px;
    height: 35px;
    left: 100px;
    top: 105px;



    background: #A9BFE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

.aboutNavigation a:hover{
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}


.aboutNavigation ul li:first-child img{
    position: absolute;
    width: 210px;
    height: 145px;
    left: 65px;
    top: 0px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
}

.aboutNavigation ul li:first-child div{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 105px;
    top: 108px;
    
    background: #A9BFE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




.aboutNavigation ul li:first-child p{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 105px;
    top: 108px;
    
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.aboutNavigation ul li:nth-child(2) img{
    position: absolute;
    width: 210px;
    height: 145px;
    left: 275px;
    top: 0px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
}

.aboutNavigation ul li:nth-child(2) div{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 315px;
    top: 108px;
    
    background: #A9BFE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aboutNavigation ul li:nth-child(2) p{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 315px;
    top: 108px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.aboutNavigation ul li:nth-child(3) img{
    position: absolute;
    width: 210px;
    height: 145px;
    left: 485px;
    top: 0px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
}

.aboutNavigation ul li:nth-child(3) p{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 525px;
    top: 108px;
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.aboutNavigation ul li:nth-child(3) div{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 525px;
    top: 108px;
    
    background: #A9BFE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aboutBackgroundFirst{
    position: absolute;
    width: 291.27px;
    height: 229px;
    left: 470px;
    top: 176px;
    background-image: url(../images/abstract_background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.aboutBackgroundSecond{
    position: absolute;
    width: 292px;
    height: 181px;
    left: 408px;
    top: 224px;
    background-image: url(../images/women.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.about h2 {
    position: absolute;
    width: 139px;
    height: 28px;
    left: 65px;
    top: 191px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #351F21;
}

.about h2+p{
    position: absolute;
    width: 324px;
    height: 53px;
    left: 65px;
    top: 237px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #351F21;
}

.about h2+p+p{
    position: absolute;
    width: 318px;
    height: 57px;
    left: 65px;
    top: 301px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
    color: #351F21;
}

.work__for__your{
    position: absolute;
    display: flex;
    width: 760px;
    height: 156px;
    left: 0px;
    top: 930px;
    background: rgba(169, 191, 228, 0.3);

    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.work__for__your>span{
    position: absolute;
    display: flex;
    width: 224px;
    height: 28px;
    left: 63px;
    top: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #989EC3;
}

/* для перевірки */
/* .work__for__your div{
    border:1px solid black;
} */

.work__for__your p{
    width: 150px;
    height: 52px;
    top: 101px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    display: flex; 
    margin: 0 auto;
    padding: 8px;
    align-items: center;
    color: #351F21;
}

.work__for__your img{   
    width: 35%;
}