body {
    font-family: monospace;
    font-size: 17px;
  }

#personalForm {
    width: 45%;
    min-width: 435px;
    border: 2px solid black;
    padding: 5px 10px 20px 10px;
    background-color:blanchedalmond;
}

label {
    vertical-align: top;
}